#allFollows {
  margin-top: 1rem;
  > div {
    display: flex;
    justify-content: center;
  }
}

#allFollows-sec-1 {
  margin-bottom: 1rem;
  padding: 1rem;
}

#allFollows-header {
  margin-bottom: 1rem;
  text-align: center;
}

#allFollows-pagination-wrapper {
  display: flex;
  justify-content: center;
}