#home {
  img {
    height: calc(100vh - var(--navigationBar-height));
    width: 100%;
  }
}

// Custom bootstrap
.carousel-caption {
  padding: 1rem;
  background-color: var(--light-dark-color);
  border-radius: 0.3rem;
}