:root {
  /* Colors */
  --theme-color-1: teal;
  --theme-color-2: darkorange;
  --lighter-color: hsla(0, 0%, 90%, 0.5);
  --light-color: hsla(0, 0%, 90%, 0.8);
  --light-dark-color: hsla(0, 0%, 30%, 0.8);
  --light-success-color: hsla(120, 90%, 90%, 0.5);
  --light-error-color: hsla(0, 90%, 90%, 0.5);
  /* Measurements */
  --navigationBar-height: 55px;
  --footer-height: 110px;
}